body {
  font-family: Arial;
  background: #f5f5f5;
}

.card {
  background: white;
  padding: 15px;
  margin: 10px auto;
  width: 300px;
  border-radius: 8px;
}

input, button {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
